<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Comprador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 th:text="${contenido}">Alta de Comprador</h2>

    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
        Verifique los siguientes errores
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </div>

    <form th:action="@{/comprador/salvar-comprador}" th:object="${comprador}" method="post">
        <div class="row gx-5">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="correo">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="correo" name="correo" th:field="*{correo}" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" class="form-control" id="telefono" name="telefono" th:field="*{telefono}" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="direccion">Dirección:</label>
                    <textarea class="form-control" id="direccion" name="direccion" th:field="*{direccion}" required></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipo">Tipo de Comprador:</label>
                    <select class="form-control" id="tipo" name="tipo" th:field="*{tipo}" required>
                        <option value="" disabled selected>Seleccione un Tipo</option>
                        <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <br />
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
